<p>Bonjour {{ user.username }} !</p>
<p>Pour valider votre compte utilisateur, merci de vous rendre sur <a href="{{ config.activationLink }}{{user.activationCode}}">{{ config.activationLink }}{{user.activationCode}}</a></p>
<p>Cordialement,</p>
<p>--</p>
<p>L'équipe Dyalna.</p>
